* {
  padding: 0;
  margin: 0;
}

body,html {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  background:whitesmoke !important;
}

#footer {
  background:rgba(20,20,20) !important;
}

#footer p {
  color: white !important ;
}

.offset:before {
  height: 7rem;
  margin-top: -7rem;
  content: "";
  display: block;
}

/***** Navbar ******/
.navbar  {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  background: rgba(20,20,20) !important;
  position: fixed;
}

.dropdown-menu{
  
  background: rgba(20,20,20) !important;
  
}

#cm:hover, #cm1:hover {
  color: black!important;
  border-bottom: 5px solid red;
  background-color:grey;
}

.dropdown-item {
  color: white !important;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500 !important;
  letter-spacing: 0.1rem;
}

.navbar-brand img {
  height: 5rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  margin-top: 3rem;
  border-radius: 5px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(20,20,20) !important;
  border-bottom: 5px solid #0471b1;
  background-color:white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .dropdown-item:hover {
  color: #0471b1 !important;
  border-bottom: 5px solid #0471b1;
  background-color:white;
  color: black;
}


/***** Slider (carousel) *****/
.carousel-item {
  height: 80vh;
  background-image:url('../img/giphy.gif'); 
  background-repeat:repeat; 
  
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-caption {
  position: center;
  top: 35%;
  right: 0;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
.carousel-caption h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.carousel-caption h4 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.btn-md {
  border-width: medium !important;
  border-radius: 0;
  font-size: 1.1rem;
}
#logoOnSlider {
  height: 25%;
  width: 20%;
}

/**** Section Actividades *****/

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.heading-underline {
  width: 50vw;
  height: 0.2rem;
  background-color: #0471b1;
  margin: 0 auto 2rem;
}

.jumbotron {
  margin-bottom: 0;
  padding: 3rem 0 2rem;
  background: whitesmoke !important;
}
#directiva .card {
  display: flex;
  margin-bottom: 2rem;
}

#telematica .card {
  display: flex;
  margin-bottom: 0.2rem;
}


.card-img-top {
  height: 205px;
  width: 100%;
  object-fit: contain;
}


h4.heading {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #1276D3 !important;
}

.heading-underline1 {
  width: 3rem;
  height: 0.2rem;
  background-color: #0471b1;
  margin: 0 auto 1rem;
}

.foto{
  border-radius: 100px !important;
  height: 150px;
  width: 150px;
  align-self: center;
}

.container-fluid {
  background: transparent;
}

/***** Section Contacto ******/

#contacto .heading-underline {
  width: 30vw;
  height: 0.2rem;
  background-color: #0471b1;
  margin: 0 auto 2rem;
}

#contacto .heading-underline1 {
  width: 5rem;
  height: 0.2rem;
  background-color: #0471b1;
 
}


/******* RESPONSIVE *******/
@media (max-width: 767px) {
  .video {
    width: 100%;
    height: 60vw;
    object-fit: cover;
  }
  .row {
    align-self: center;
    text-align: center;
  }
  .card {
    display: flex;
    margin-bottom: 1rem;
  }

}


